<body class="bg-success d-flex justify-content-center align-items-center vh-100">
  <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
    <div class="d-flex justify-content-center">
      <%= image_tag("login/login-icon.svg", alt: "username-icon", style: "height: 7rem") %>
    </div>
    <div class="text-center fs-1 fw-bold">Login</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group mt-4">
        <div class="input-group-text bg-info">
          <%= image_tag("login/username-icon.svg", alt: "username-icon", style: "height: 1rem") %>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>
      <div class="input-group mt-1">
        <div class="input-group-text bg-info">
          <%= image_tag("login/password-icon.svg", alt: "username-icon", style: "height: 1rem") %>
        </div>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Contraseña" %>
      </div>

      <div class="d-flex justify-content-around mt-1">
        <% if devise_mapping.rememberable? %>

        <div class="d-flex align-items-center gap-1">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "pt-1", style: "font-size: 0.9rem" do %>
            Recuérdame
          <% end %>
        </div>
        <% end %>
        <div class="pt-1">
          <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class: "text-decoration-none text-info fw-semibold" %><br />
        </div>
      </div>
      <%= f.submit "Inicia sesión", class: "btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm" %>
    <% end %>
    <div class="d-flex gap-1 justify-content-center mt-1">
      <div>¿No tienes una cuenta?</div>
      <%= link_to "Regístrate", new_registration_path(resource_name), class: "text-decoration-none text-info fw-semibold" %><br />
    </div>
  </div>
</body>